body {
    background-image: url("../../images/flowers.png");
}
#title {
    font-family: 'Reem Kufi', sans-serif;
    text-align: center;
    font-size: 3em;
    border-bottom: double;
}
#whereTheGifsGo {
    float: right;
}
#whereTheButtonsGo {
    position: relative;
    left: 44%;    
}
#allInside {
    display: none;
}
#starter {
    text-align: center;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 5em;
    border: 1px white;
}
#startBeing {
    border-radius: 29%;
    font-size: 1em;
    box-shadow: 3px 3px;
}
#input-form {
    position: fixed;
    top: 26%;
    right: 64%;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 1em;

}
#add-state {
    right: 60%;
    position: fixed;
    top: 31%;
}
#top {
    background-color: rgb(245, 245, 245, 0.9);
}
#explanation {
    position: absolute;
    top: 39%;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 1.5em;
    line-height: 1.9;
    background-image: url("../../images/backGround.jpg");
    border: double whitesmoke;
    border-radius: 65%;
    background-color: rgb(245, 245, 245, 0.9);
    text-shadow: 2px 2px rgb(245, 184, 169); 
}
